DATABASE_URL="mongodb+srv://USER:PASSWORD@cluster0.example.mongodb.net/pki-demo?retryWrites=true&w=majority"
AUTH_SECRET="replace-with-random-string"
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# 생성 후 여기에 붙여넣기
CA_CERT_PEM=""
CA_PRIVATE_KEY_PEM=""
